.main-header{
background-image: url(/powerwithindisability/images/coverimg.jpg);
width: 100%;
height: 375px;
background-size: 100%;
display:block;
}
h1{
position: absolute;
top: 275px;
left:45%;
color:#FFFFFF;
}
#logo{
position:relative;
top:50px;
left:15%;
width:40px;
height:40px;
}

button{
border: 1px solid black;
}

.class1 p{
	font-size: 18px;
	font-family: "Arial";
}

nav a
{
text-decoration:none;
position:relative;
top: 295px;
left: 10%;

color: #ffffff;
font-variant: small-caps;
font-size:150%;
font-family: "Times New Roman", Arial;
font-style:bold;
padding:30px;

}
body{
background-color:#f4a460;
}
.class1{
position:relative;
margin-top:1%;
width: 29%;
float:left;
height: 400px;
background-color:#ffe5b4;
}
.class1 a{
text-decoration:none;
color: #000000;
}
.class3
{
width: 38%;
margin-left:3%;
margin-right:3%;
margin-top:1%;
float:left;
height:100%;
}
.class2{
margin-top:1%;
margin-left:1%;
width: 26%;
float:left;
height:400px;
background-color: #ffe5b4;}
.class2 img{
margin-left:auto;
margin-right:auto;
display:block;
margin-top:2%;
}
.class2 p{
margin-left:1.5%;
padding:2px;}
.class3 p{
text-align:left;
}
#two
{
margin-top:1%;
display:inline-block;
font-size:100%;
font-family: "Times New Roman", Arial;
font-style:bold;
}

#outerbox
{padding-top:1%;
left:21%;
position:relative;
width:840px;
height:400px;
overflow:hidden;}

#sliderbox
{
position:relative;
width:3360px;
animation-name: Jamal;
animation-duration: 20s;
animation-itearation-count:infinite;}

#sliderbox img{
float:left;
}


@keyframes Jamal{
0%
{
left:0px;
}
20%
{left:0px;
}
25%
{left:-840px;
}
45%
{
left: -840px;
}
50%
{left: -1680px;
}
70%
{
left: -1680px;
}
75%
{left:-2520px;
}
95%
{left:-2520px;
}
100%
{
left: -3360px
}
}